@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #007792;
	background-image: url('../assets/background1.png');
	box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.darkMode body {
	background-color: #202225 !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

*::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

*::-webkit-scrollbar-track {   
     display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}